/* Global */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('images/bg-2.webp');
    background-size: 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* Container styling */
.container {
    max-width: 1100px;
    margin: 100px auto;
    padding: 20px 0px;
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.397);
}

/* Main styling */
main {
    background: linear-gradient(to bottom, #1a1a1a, #1a1a1a);
}

main h2, main p {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    color: #ffffff;
    padding: 5px;
}

main h1{
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    color: #ffffff;
    padding: 5px;
}

main img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Header and Navbar styling */
.header {
    position: sticky;
    top: 0;
    text-align: right;
    padding: 4px 0;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.062);
    background-color: rgb(19, 19, 19);
    z-index: 1;
}

/* Styling for the header when scrolled */
.header.scrolled {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.048);
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

nav a {
    color: rgb(92, 92, 92);
    text-decoration: none;
    padding: 0 10px;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

/* Hover animation for the links */
nav a:hover {
    color: hsl(0, 0%, 100%)
}

/* Section styling */
section {
    padding: 60px 0;
    text-align: center;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(19, 19, 19);
    border-top: 1px solid #b9b9b9;
    color: #ffffff;
    font-size: 14px;
}

/* Toggling the scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
.scatterplot-container {
    width: 78%;
    margin: 0 auto;
    padding: 20px;
    background-color: #c1c6c9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/* Tooltip container */
.tooltip {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-content {
    font-size: 14px;
    line-height: 1.4;
}

/* Bar chart styling */
.bar-chart-container {
    width: 78%;
    margin: 20px auto; 
    padding: 20px;
    position: relative;
    background-color: #c1c6c9;
    background-size: 200% 200%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.bar {
    fill: rgb(25, 25, 43);
    border-top-left-radius: 35px;
    border-top-right-radius: 15px;
    transition: fill 0.3s ease;
    width: 5%;
    margin: 0 auto;
}

.bar:hover {
    fill: rgb(35, 46, 71);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

/* line plot styling*/
.line-chart-container {
    width: 78%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    background-color: #c1c6c9;    
    background-size: 200% 200%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

/*heatmap styling*/
.heatmap-container {
    /*width: 78%;
    margin: 20px auto;
    background-color: #c1c6c9;    
    background-size: 200% 200%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/
}

/*radial chart styling*/
.radial-chart-container {
    width: 78%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    background-color: #141414;    
    background-size: 200% 200%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

