/* Global */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('images/bg-2.webp');
    background-size: 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* Container styling */
.container {
    max-width: 1100px;
    margin: 100px auto;
    padding: 20px 0px;
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.397);
}

/* Main styling */
main {
    background: linear-gradient(to bottom, #1a1a1a, #1a1a1a);
}

main h2, main p {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    color: #ffffff;
    padding: 5px;
}

main h1{
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    color: #ffffff;
    padding: 5px;
}

main img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Header and Navbar styling */
.header {
    position: sticky;
    top: 0;
    text-align: right;
    padding: 4px 0;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.062);
    background-color: rgb(19, 19, 19);
    z-index: 1;
}

/* Styling for the header when scrolled */
.header.scrolled {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.048);
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

/* Hover animation for the links */
nav a:hover {
    color: hsl(212, 100%, 68%); /
}

/* Section styling */
section {
    padding: 60px 0;
    text-align: center;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(19, 19, 19);
    border-top: 1px solid #b9b9b9;
    color: #ffffff;
    font-size: 14px;
}

/* Toggling the scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
.scatterplot-container {
    width: 78%;
    margin: 0 auto;
    padding: 20px;
    background-color: #c1c6c9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.scatterplotart-container {
    width: 78%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/* Tooltip container */
.tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Styling for different sections of the tooltip */
.tooltip .date,
.tooltip .location,
.tooltip .energy,
.tooltip .velocity {
    font-weight: bold;
    margin-bottom: 5px;
}
